.grid {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.circle div {
    background: url(../assets/img2.png) no-repeat;
    background-size: 280px 280px;
    border-radius: 50%;
    width: 280px;
    height: 280px;
}

.circle {  
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.circle2 div {
    background: url(../assets/img4.png) no-repeat;
    background-size: 280px 280px;
    border-radius: 50%;
    width: 280px;
    height: 280px; 
}

.circle2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.circle3 div {
    background: url(../assets/img3.png) no-repeat;
    background-size: 280px 280px;
    border-radius: 50%;
    width: 280px;
    height: 280px; 
    
}

.circle3 {
      
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.circle4 div {
    background: url(../assets/img5.png) no-repeat;
    background-size: 280px 280px;
    border-radius: 50%;
    width: 280px;
    height: 280px; 
    
}

.circle4 { 
    margin: 10px;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}
